.mainContaner {
  overflow-x: hidden;
}
.spacer-mainWrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}

.cat-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.carousel-style {
  margin: 0;
  height: 300px;
  width: 100%;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: rgb(0, 142, 204);
  background: linear-gradient(
    180deg,
    rgba(0, 142, 204, 1) 0%,
    rgba(0, 212, 255, 1) 0%,
    rgba(0, 142, 192, 0.10976890756302526) 87%
  );
  object-fit: fill;
}

.category-header {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  column-gap: 24px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 10px;
}

.category-header::-webkit-scrollbar {
  display: none;
}

.deals-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}
